@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: #f1eeee;
}
li i {
    opacity: 0;
    font-style: normal;
    color: white;
    transition: .5s;
    background: #9e7a7e;
    border-radius: 10%;
    padding: 5px;
    font-size: 10px;
    margin: 0 5px;
    cursor: pointer;
}

li:hover i{
    opacity: 1;
}

.pink-color{
    color: #9e7a7e;
}

.gray-color{
    color: #818181;
}
.items{
    font-size: 10px;
}
